.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    position: fixed;
    z-index: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    flex-grow: 1;
}

.header__phone {
    display: none;
}