/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
    ========================================================================== */

/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */

body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */

/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */

[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */

/**
  * Remove the gray background color from active links in IE 10.
  */

a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */

/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */

b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */

dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */

mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */

/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */

img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */

/**
  * Address margin not present in IE 8/9 and Safari.
  */

figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */

pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */

/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */

/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */

button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */

button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */

input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */

textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */

optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */

/**
  * Remove most spacing between table cells.
  */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  color: #20233E;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button--main {
  display: block;
  background-color: #71164E;
  color: #FFFFFF;
  padding: 15px 60px;
  border-radius: 24px;
  border: 1px solid transparent;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.button--main:hover {
  color: #71164E;
  background-color: transparent;
  border-color: #71164E;
}

.button--main:focus {
  outline: none;
}

.button--main:active {
  background-color: #e6d0de;
}

.section-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.section-title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #28156B;
}

.section-title__count {
  margin: 0;
  font-size: 44px;
  line-height: 100%;
  font-weight: 800;
  color: #FCEEAA;
}

.pagingInfo {
  display: none;
}

.header {
  height: 100px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header__mobile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone a {
  text-decoration: none;
  color: #28156B;
}

.header__phone a:hover {
  text-decoration: underline;
}

.header.active {
  background-color: white;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  opacity: .92;
}

.header__toggle-wrapper {
  display: none;
}

.menu__mobile {
  display: none;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li + li {
  margin-left: 16px;
}

.nav ul li a {
  padding: 10px 10px;
  text-decoration: none;
  color: #28156B;
  position: relative;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #71164E;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

.nav ul li a:hover::after {
  width: 100%;
  opacity: 1;
  -webkit-transform: translatey(-5px);
      -ms-transform: translatey(-5px);
          transform: translatey(-5px);
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item + li {
  margin-left: 22px;
}

.social__item {
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.social__item:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.logo {
  width: 183px;
}

.hero {
  position: relative;
  height: 656px;
}

.hero__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.hero__content-wrapper {
  padding-left: 108px;
}

.hero__title {
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  color: #28156B;
  margin-bottom: 2.5%;
  text-transform: uppercase;
  font-weight: 800;
}

.hero__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #28156B;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-bottom: 5%;
}

.hero__subtitle br {
  display: none;
}

.hero__image-wrap {
  position: absolute;
  top: 0;
  right: -200px;
  z-index: -1;
  min-height: 870px;
}

.hero__btn {
  margin-bottom: 130px;
}

.hero__count {
  position: absolute;
  left: 0;
  bottom: 0;
}

.services {
  padding-top: 130px;
  padding-bottom: 200px;
}

.services__wrapper-mobile {
  display: none;
}

.services__control {
  display: none;
}

.services__wrapper {
  padding-left: 110px;
  position: relative;
}

.services__count {
  position: absolute;
  left: 0;
  bottom: -50px;
}

.services__tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.services__tabs-btn {
  padding-right: 30px;
}

.services__tabs-btn a {
  text-decoration: none;
}

.services__tabs-btn-item + .services__tabs-btn-item {
  margin-top: 10px;
}

.services__tabs-btn-item {
  padding: 10px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #20233E;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__tabs-btn-item:hover {
  color: #28156B;
}

.services__tabs-btn-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #71164E;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

.services__tabs-btn-item:hover::after {
  width: 100%;
  opacity: 1;
  -webkit-transform: translatey(-5px);
      -ms-transform: translatey(-5px);
          transform: translatey(-5px);
}

.services .services__tabs-btn-item.active {
  color: #28156B;
}

.services__items-wrapper {
  width: 730px;
  position: relative;
}

.services__items-wrapper::after {
  content: '';
  position: absolute;
  background: url(../img/services-image-1.png) no-repeat center center;
  width: 440px;
  height: 411px;
  top: -75px;
  right: -110px;
}

.services__item {
  background-color: #FFF9DB;
  border-radius: 30px;
  height: 420px;
  padding: 60px 0 60px 53px;
}

.services__item-title {
  color: #28156B;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.services__item-content {
  line-height: 24px;
  max-width: 323px;
}

.services__cost {
  margin: 0;
  margin-bottom: 20px;
}

.services__btn {
  display: block;
  position: relative;
}

.services__item-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #F5E283;
  border-radius: 30px;
  left: -15px;
  top: -15px;
}

.services__tab-item-wrap {
  display: none;
}

.srv-faded {
  opacity: 0;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.srv-faded.srv-in {
  opacity: 1;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.srv-active {
  display: block;
}

.about {
  margin-bottom: 160px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__inner {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image-wrapper {
  margin-right: 110px;
  min-width: 440px;
}

.about__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.about__subtitle {
  font-size: 36px;
  line-height: 42px;
  font-family: Montserrat,Arial,sans-serif;
  font-weight: bold;
  margin: 0;
  color: #28156B;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 412px;
  padding-left: 38px;
  margin-bottom: 40px;
}

.about__list li + li {
  margin-top: 15px;
}

.about__list li {
  position: relative;
}

.about__list li:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;
  width: 22px;
  height: 12px;
  background: url("../img/icon-list-arrow.svg") no-repeat center center;
}

.about__list li a {
  color: #71164E;
}

.about__content-wrapper {
  width: 100%;
}

.advantages {
  padding: 120px 0;
  background-color: #FFF9DB;
}

.advantages__container {
  position: relative;
}

.advantages__container::before {
  content: "";
  position: absolute;
  bottom: -70px;
  right: -250px;
  width: 706px;
  height: 528px;
  background: url("../img/img-lotus-2-desktop.svg") no-repeat center center;
  overflow: visible;
}

.advantages__inner {
  max-width: 1100px;
  margin: 0 auto;
}

.advantages__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 110px;
  max-width: 490px;
}

.advantages__block img {
  position: absolute;
  left: 0;
  top: 10px;
}

.advantages__count {
  position: absolute;
  left: 0;
  top: 0;
}

.options {
  padding: 150px 0;
}

.options__inner {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.options__wrapper {
  position: relative;
  background: url("../img/bg-options.png") no-repeat 0% 100%;
}

.options__title-wrapper {
  margin-bottom: 52px;
}

.options__content-wrapper {
  margin-right: 20px;
}

.options__list {
  max-width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.options__item-title {
  padding-left: 50px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.02em;
  position: relative;
}

.options__item-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 35px;
  height: 15px;
  background: url("../img/icon-arrow-list-long.svg") no-repeat center center;
}

.options__content {
  margin: 0;
}

.options__item + li {
  margin-top: 32px;
}

.options__count {
  position: absolute;
  left: 0;
}

.feedback {
  padding: 150px 0;
}

.feedback__container {
  position: relative;
}

.feedback__inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.feedback__count {
  position: absolute;
  left: -100px;
}

.feedback__slider-wrapper {
  width: 722px;
}

.feedback__item {
  background-color: #FFF9DB;
  text-align: center;
  position: relative;
  border-radius: 20px;
  width: 722px;
  min-height: 387px;
  padding: 63px 140px 40px 70px;
  text-align: left;
  margin-right: 50px;
  margin-top: 10px;
}

.feedback__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #F5E283;
  border-radius: 20px;
  left: 10px;
  top: -10px;
}

.feedback__item::after {
  content: '';
  position: absolute;
  width: 85px;
  height: 63px;
  top: 50px;
  right: 50px;
  background: url("../img/img-lotus-3-feedback.svg") no-repeat center center;
}

.feedback__name {
  margin: 0;
  color: #28156B;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.feedback__service {
  margin: 0;
  color: #28156B;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.feedback__bg-wrapper {
  position: absolute;
  right: -50px;
  top: -105px;
}

.feedback__title-wrapper {
  margin-bottom: 55px;
}

.feedback__text {
  line-height: 24px;
}

.feedback__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.feedback__slider.lick-slider {
  width: 772px;
  position: relative;
}

.feedback__slider .slick-list {
  overflow: hidden;
  width: 772px;
  height: 460px;
}

.feedback__slider .slick-arrow {
  position: absolute;
  font-size: 0;
  bottom: 0;
  width: 54px;
  height: 54px;
  border: none;
}

.feedback__slider .slick-arrow:focus {
  outline: none;
}

.feedback__slider .slick-next {
  background: url("../img/control-right-desktop.svg") no-repeat center center;
  left: 130px;
}

.feedback__slider .slick-prev {
  background: url("../img/control-left-desktop.svg") no-repeat center center;
}

.pagingInfoFeedback {
  position: absolute;
  display: inline;
  color: #daae59;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 80px;
  bottom: 17px;
}

.faq {
  padding: 50px 0;
}

.faq__image-wrapper {
  position: relative;
  width: 50%;
}

.faq__image {
  position: absolute;
  left: -100px;
}

.faq__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq__content-wrapper {
  width: 50%;
}

.faq__accordion-inner {
  display: none;
}

.faq__accordion-item {
  border-bottom: 1px solid #DADBE0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.faq__accordion-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #20233E;
  padding: 24px 0;
  margin: 0;
  padding-right: 30px;
}

.faq__accordion-content {
  padding-top: 0;
  height: auto;
}

.faq__accordion-content {
  display: none;
  padding-left: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding-right: 30px;
}

.faq__accordion-title {
  padding-right: 40px;
  position: relative;
}

.faq__accordion-title::before {
  content: '';
  position: absolute;
  right: 0;
  top: 35px;
  width: 16px;
  height: 2px;
  background-color: #28156B;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.faq__accordion-title::after {
  content: '';
  position: absolute;
  right: 7px;
  top: 28px;
  width: 2px;
  height: 16px;
  background-color: #28156B;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.faq__content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px;
  padding-left: 20px;
}

.faq__content-item + li {
  margin-top: 6px;
}

.faq__content-item {
  position: relative;
}

.faq__content-item::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 6px;
  width: 22px;
  height: 12px;
  background: url("../img/icon-list-arrow.svg") no-repeat center center;
}

.faq__accordion-item:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-bottom-color: #28156b;
}

.open-accordion .faq__accordion-content {
  display: block;
}

.faq__accordion-item.open-accordion {
  border-bottom-color: #28156B;
}

.faq__accordion-title:hover,
.faq__accordion-title:focus {
  color: #28156B;
}

.open-accordion .faq__accordion-title {
  color: #28156B;
}

.open-accordion .faq__accordion-title::before {
  content: '';
  position: absolute;
  right: 0;
  top: 35px;
  width: 16px;
  height: 2px;
  background-color: #28156B;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.open-accordion .faq__accordion-title::after {
  content: '';
  position: absolute;
  right: 7px;
  top: 28px;
  width: 2px;
  height: 16px;
  background-color: #28156B;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.register {
  height: 900px;
  padding: 150px 0;
}

.register__inner {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.register__content-wrapper {
  position: absolute;
  background-color: #FFF9DB;
  width: 526px;
  height: 610px;
  padding: 60px;
  border-radius: 30px;
  position: absolute;
  top: -120px;
  right: 0;
}

.register__content-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #f5e283;
  border-radius: 20px;
  left: 10px;
  top: -10px;
}

.register__count {
  position: absolute;
  right: -80px;
  bottom: -150px;
}

.register__image-wrapper {
  position: absolute;
  padding: 0 20px;
}

.register__title {
  margin-bottom: 8px;
  font-weight: bold;
}

.register__info {
  margin: 0;
  margin-bottom: 35px;
}

.register__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__input {
  padding: 0 34px;
  height: 60px;
  background-color: transparent;
  z-index: 1;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 1px solid #C09440;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.register__input:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.14);
}

.register__input:hover {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.14);
}

.register__btn {
  z-index: 1;
}

.register__form-info {
  z-index: 1;
}

.register__image-mobile {
  display: none;
}

.blog {
  padding: 100px 0;
}

.blog__wrapper {
  position: relative;
}

.blog__inner {
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  min-width: 0;
}

.blog__count {
  position: absolute;
  left: -80px;
}

.blog__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.blog__item {
  max-width: 510px;
  height: 330px;
  background-color: indigo;
  border-radius: 30px;
  color: #ffffff;
  margin-right: 40px;
  min-width: 0;
  overflow: hidden;
}

.blog__button-wrapper {
  max-width: 370px;
  margin: 0 auto;
}

.blog__show-all {
  text-decoration: none;
  text-align: center;
}

.blog__link {
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
  border-radius: 30px;
}

.blog__link-inner {
  display: block;
  height: 100%;
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 510px;
  position: relative;
  min-width: 0;
}

.blog__read-more {
  text-decoration: underline;
}

.blog__preview,
.blog__read-more {
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.blog__item:hover .blog__preview,
.blog__item:hover .blog__read-more {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.blog__slider .slick-list {
  min-width: 0;
}

.blog__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.blog__slider.slick-slider {
  overflow: hidden;
}

.blog__slider {
  position: relative;
  padding-top: 70px;
}

.blog__slider .slick-arrow {
  position: absolute;
  top: 0px;
  font-size: 0;
  width: 55px;
  height: 55px;
  border: none;
}

.blog__slider .slick-arrow:focus {
  outline: none;
}

.blog__slider .slick-prev {
  background: url("../img/control-left-desktop.svg") no-repeat center center;
  right: 110px;
}

.blog__slider .slick-next {
  background: url("../img/control-right-desktop.svg") no-repeat center center;
  right: 0;
}

.blog__bg-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 510px;
  height: 330px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.blog__title-wrapper {
  z-index: 2;
}

.blog__bg-img-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 6, 41, 0.8)), to(rgba(123, 97, 194, 0.592)));
  background: -o-linear-gradient(bottom, rgba(15, 6, 41, 0.8) 0%, rgba(123, 97, 194, 0.592) 100%);
  background: linear-gradient(360deg, rgba(15, 6, 41, 0.8) 0%, rgba(123, 97, 194, 0.592) 100%);
}

.blog__bg-img {
  border-radius: 30px;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: relative;
}

.blog__content-wrapper {
  z-index: 2;
}

.blog__bg-img-wrapper {
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.blog__item:hover .blog__bg-img-wrapper {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.pagingInfoBlog {
  position: absolute;
  display: inline;
  color: #daae59;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 100px;
  right: 66px;
}

@media (max-width: 1330px) {
  .feedback__count {
    left: auto;
    right: 0;
  }
}

@media (max-width: 1260px) {
  .advantages__count {
    left: auto;
    right: 15px;
  }
}

@media (max-width: 1250px) {
  .options__count {
    left: auto;
    right: 15px;
  }

  .blog__count {
    left: auto;
    right: 0;
  }
}

@media (max-width: 1110px) {
  .pagingInfo {
    display: inline;
    color: #DAAE59;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 8px;
  }

  .services__tabs-wrapper {
    display: none;
  }

  .services__wrapper-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
  }

  .services__title {
    margin-bottom: 45px;
  }

  .services__tabs-wrapper-mobile {
    display: block;
  }

  .services__wrapper-mobile-item {
    max-width: 226px;
    height: 340px;
    background-color: #FFF9DB;
    text-align: center;
    padding: 30px 10px 0 20px;
    margin-top: 28px;
    position: relative;
    border-radius: 20px;
  }

  .services__wrapper-mobile-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #F5E283;
    border-radius: 20px;
    left: 10px;
    top: -10px;
  }

  .services__wrapper-mobile-title {
    font-size: 14px;
    color: #28156B;
    margin: 0;
  }

  .services__wrapper-mobile-content {
    font-size: 12px;
  }

  .services__wrapper-mobile-item-lotus {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
  }

  .services__slider.slick-slider {
    overflow: hidden;
    padding-bottom: 100px;
  }

  .services__slider .slick-arrow {
    position: absolute;
    font-size: 0;
    bottom: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border: none;
  }

  .services__slider .slick-arrow:focus {
    outline: none;
  }

  .services__slider .slick-next {
    background: url("../img/control-right.svg") no-repeat center center;
  }

  .services__slider .slick-prev {
    right: 50px;
    background: url("../img/control-left.svg") no-repeat center center;
  }

  .services__slider .slick-list {
    min-width: 0;
  }

  .services__slider .slick-track {
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services__wrapper-mobile-item {
    margin-right: 50px;
  }

  .pagingInfoBlog {
    display: block;
    top: auto;
    bottom: 110px;
    right: auto;
    left: 0px;
  }

  .blog__slider {
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .blog__slider .slick-arrow {
    top: auto;
    bottom: -10px;
    font-size: 0;
    width: 55px;
    height: 55px;
    border: none;
  }

  .blog__slider .slick-arrow:focus {
    outline: none;
  }

  .blog__slider .slick-prev {
    background: url("../img/control-left.svg") no-repeat center center;
    right: 50px;
  }

  .blog__slider .slick-next {
    background: url("../img/control-right.svg") no-repeat center center;
    right: 0;
  }
}

@media (max-width: 1050px) {
  .feedback__bg-wrapper {
    display: none;
  }
}

@media (max-width: 1000px) {
  .about__image-wrapper {
    margin-right: 30px;
  }
}

@media (max-width: 900px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
  }

  .section-title__count {
    font-size: 24px;
    line-height: 24px;
  }

  .logo__image {
    width: 92px;
    height: 44px;
  }

  .header {
    height: 60px;
  }

  .header__phone {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__toggle-wrapper {
    display: block;
    width: 30px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__toggle-wrapper:focus {
    outline: none;
  }

  .header__toggle {
    display: block;
    width: 20px;
    height: 14px;
    position: relative;
  }

  .header__toggle::before,
  .header__toggle::after {
    content: '';
    background-color: #71164E;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .header__toggle::before {
    top: 0;
  }

  .header__toggle::after {
    bottom: 0;
  }

  .header__toggle span {
    position: absolute;
    background-color: #71164E;
    right: 0;
    width: 70%;
    height: 2px;
    top: 6px;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  .header__toggle-wrapper .header__toggle:hover span {
    width: 100%;
  }

  .header__toggle.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }

  .header__toggle.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
  }

  .header__toggle.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header.open {
    height: auto;
    background-color: white;
  }

  .active __mobile-nav {
    display: block;
  }

  .menu__mobile.active {
    display: block;
  }

  .menu__mobile-nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__mobile-nav,
  .menu__mobile-contacts,
  .menu__mobile-social {
    border-top: 1px solid #DADBE0;
  }

  .menu__mobile-navlist {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 25px 0;
  }

  .menu__mobile-navlist li a {
    text-decoration: none;
    color: #28156B;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    font-weight: 600;
  }

  .menu__mobile-navlist li + li {
    margin-top: 15px;
  }

  .menu__mobile-contacts {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__mobile-contacts a {
    text-decoration: none;
    color: #28156B;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  .menu__mobile-contacts a + a {
    margin-top: 15px;
  }

  .menu__mobile-social {
    padding: 25px 0;
  }

  .menu__mobile-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero {
    margin-top: 90px;
  }

  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }

  .hero__content-wrapper {
    padding-left: 0;
  }

  .hero__title {
    font-size: 20px;
    line-height: 28PX;
  }

  .hero__subtitle {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  .hero__social {
    display: none;
  }

  .hero__button-wrapper {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
  }

  .hero__btn {
    width: 100%;
  }

  .hero__image-wrap {
    right: 0;
    width: 100%;
  }

  .hero__count {
    display: none;
  }

  .services {
    padding-bottom: 110px;
    padding-top: 30px;
  }

  .services__wrapper {
    padding-left: 0;
  }

  .services__count {
    top: 0;
    right: 0;
    left: auto;
  }

  .about {
    padding-top: 50px;
    margin-bottom: 30px;
    position: relative;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__title-inner {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    padding: 0 15px;
  }

  .about__image-wrapper {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 35px;
  }

  .advantages {
    padding: 40px 0;
  }

  .advantages__container::before {
    display: none;
  }

  .advantages__block-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }

  .advantages__block img {
    position: relative;
  }

  .advantages__block-inner {
    text-align: center;
  }

  .options {
    padding: 50px 0;
  }

  .options__wrapper {
    background: transparent !important;
  }

  .options__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .options__content-wrapper {
    margin-bottom: 25px;
  }

  .faq {
    position: relative;
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .faq__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .faq__image {
    position: relative;
    left: auto;
  }

  .faq__content-wrapper {
    width: 100%;
  }

  .faq__image-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .faq__title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
  }

  .faq__accordion-title {
    font-size: 14px;
    line-height: 18px;
    padding: 16px 0;
    padding-right: 30px;
  }

  .faq__accordion-title::before {
    content: '';
    position: absolute;
    right: 0;
    top: 23px;
    width: 16px;
    height: 2px;
    background-color: #28156B;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .faq__accordion-title::after {
    content: '';
    position: absolute;
    right: 7px;
    top: 16px;
    width: 2px;
    height: 16px;
    background-color: #28156B;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .faq__accordion-content {
    font-size: 12px;
    line-height: 14px;
    padding-left: 4px;
  }

  .faq__content-item::before {
    top: 1px;
  }

  .open-accordion .faq__accordion-title {
    color: #28156B;
  }

  .open-accordion .faq__accordion-title::before {
    content: '';
    position: absolute;
    right: 0;
    top: 23px;
    width: 16px;
    height: 2px;
    background-color: #28156B;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .open-accordion .faq__accordion-title::after {
    content: '';
    position: absolute;
    right: 7px;
    top: 16px;
    width: 2px;
    height: 16px;
    background-color: #28156B;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .register {
    background-color: #FFF9DB;
    padding: 30px 0;
    height: auto;
  }

  .register__content-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
  }

  .register__content-wrapper::before {
    display: none;
  }

  .register__image-wrapper {
    display: none;
  }

  .register__image-mobile {
    display: block;
    border-radius: 30px;
    margin-bottom: 28px;
  }

  .register__title {
    padding-right: 30px;
  }

  .register__count {
    bottom: auto;
    right: 0;
  }

  .register__content-wrapper {
    padding: 20px 0;
  }
}

@media (max-width: 775px) {
  .feedback {
    padding: 20px 0;
  }

  .feedback__item {
    width: 350px;
    padding: 50px 30px 50px 30px;
    background-image: url("../img/bg-feedback-item.png");
    background-repeat: no-repeat;
    background-position: 80% 20%;
  }

  .feedback__item::after {
    display: none;
  }

  .feedback__name {
    font-size: 14px;
    margin-bottom: 0;
  }

  .feedback__service {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .feedback__text {
    font-size: 12px;
    line-height: 20px;
  }

  .feedback__slider-wrapper {
    width: auto;
  }

  .feedback .feedback__slider.lick-slider {
    width: 350px;
    position: relative;
  }

  .feedback .feedback__slider .slick-list {
    overflow: hidden;
    width: 350px;
    height: auto;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .feedback .feedback__slider .slick-arrow {
    position: absolute;
    font-size: 0;
    bottom: -20px;
    width: 36px;
    height: 36px;
    border: none;
  }

  .feedback .feedback__slider .slick-arrow:focus {
    outline: none;
  }

  .feedback .feedback__slider .slick-next {
    background: url("../img/control-right.svg") no-repeat center center;
    left: auto;
    right: 40px;
  }

  .feedback .feedback__slider .slick-prev {
    background: url("../img/control-left.svg") no-repeat center center;
    right: 90px;
  }

  .feedback .pagingInfoFeedback {
    font-size: 14px;
    left: 0;
  }
}

@media (max-width: 600px) {
  .blog__link-inner {
    min-width: 0;
    width: auto;
  }

  .blog__item {
    margin-right: 0;
  }

  .blog__bg-img-wrapper {
    width: 100%;
    height: 100%;
    background: url("../img/blog-image-1.jpg") no-repeat center center;
  }
}

@media (max-width: 510px) {
  .hero__image-wrap {
    top: 30px;
    width: 160%;
    left: -30%;
  }
}

.webp .services__items-wrapper::after { background: url(../img/services-image-1.webp) no-repeat center center; }

.webp .options__wrapper { background: url(../img/bg-options.webp) no-repeat 0% 100%; }

@media (max-width: 775px) {

  .webp .feedback__item { background-image: url(../img/bg-feedback-item.webp); }
}

@media (max-width: 600px) {

  .webp .blog__bg-img-wrapper { background: url(../img/blog-image-1.webp) no-repeat center center; }
}