.faq {
    padding: 50px 0;

    &__image-wrapper {
        position: relative;
        width: 50%;
    }

    &__image {
        position: absolute;
        left: -100px;
    }


    &__wrapper {
        display: flex;
    }

    &__content-wrapper {
        width: 50%;
    }

    &__accordion-inner {
        display: none;
    }
}

.accordion .accordion-item {
	border: 1px solid #ddd;
	margin: 0 0 10px 0;
}
.accordion .ui-faq__accordion-title {
	padding: 10px;
	background: #ffe3d6;
	cursor: pointer;
	outline: none;
}
.accordion .ui-accordion-content {
	padding: 10px;
}