.feedback {
    padding: 150px 0;

    &__container {
        position: relative;
    }
    &__inner {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &__count {
        position: absolute;
        left: 0;
    }

    &__slider-wrapper {
        width: 722px;
    }

    &__item {
        background-color: $ivory;
        text-align: center;
        position: relative;
        border-radius: 20px;
        width: 722px;
        min-height: 387px;
        padding: 63px 140px 40px 70px;
        text-align: left;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid #F5E283;
            border-radius: 20px;
            left: 10px;
            top: -10px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 85px;
            height: 63px;

            top: 50px;
            right: 50px;

            background: url("../img/img-lotus-3-feedback.svg") no-repeat center center;
        }
    }

    &__name {
        margin: 0;
        color: $midnight;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    &__service {
        margin: 0;
        color: $midnight;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -0.02em;
    }

    &__bg-wrapper {
        position: absolute;
        right: ;
    }
}