.header {
    height: 100px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    transition: 0.3s ease all;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    &__phone a {
        text-decoration: none;
        color: $midnight;

        &:hover {
            text-decoration: underline;
        }
    }
    &.active {
        background-color: white;
        transition: 0.3s ease all;
        opacity: .92;
    }
}

@media (max-width: 900px) {
    .header__phone {
        display: none;
    }
}
