.header {
    height: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    &__phone a {
        text-decoration: none;
        color: $midnight;

        &:hover {
            text-decoration: underline;
        }
    }
}
