.register {
    height: 900px;
    padding: 150px 0;
    
    &__inner {
        max-width: 1110px;
        margin: 0 auto;
        position: relative;
    }
    &__content-wrapper {
        position: absolute;
        background-color: $ivory;
        width: 526px;
        height: 610px;
        padding: 60px;
        border-radius: 30px;
        top: -120px;
        right: 0;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid #f5e283;
            border-radius: 20px;
            left: 10px;
            top: -10px;
        }
    }

    &__count {
        position: absolute;
        right: -80px;
        bottom: -150px;
    }

    &__image-wrapper {
        position: absolute;
        padding: 0 20px;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: bold;
    }

    &__info {
        margin: 0;
        margin-bottom: 35px;

        & br {
            display: none;
        }
    }

    &__form-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__input {
        padding: 0 34px;
        height: 60px;
        background-color: transparent;
        z-index: 1;
        border-radius: 30px;
        margin-bottom: 10px;
        border: 1px solid #C09440;
        transition: .3s;

        &:focus {
            outline: none;
            border: 1px solid $red-purple;
        }
        
        &:hover {
            border: 1px solid $red-purple;
        }
    }

    &__btn {
        z-index: 1;
    }

    &__form-info {
        z-index: 1;
    }

    &__image-mobile {
        display: none;
    }
}

@media (max-width: 900px) {
    .register {
        background-color: $ivory;
        padding: 30px 0;
        height: auto;

        &__content-wrapper {
            position: relative;
            width: 100%;
            height: auto;
            top: 0;

            &::before {
                display: none;
            }
        }

        &__image-wrapper {
            display: none;
        }

        &__image-mobile {
            display: block;
            border-radius: 30px;
            margin-bottom: 28px;
        }

        &__title {
            padding-right: 30px;
        }

        &__count {
            bottom: auto;
            right: 0;
            // top: 0;
        }

        &__content-wrapper {
            padding: 20px 0;
        }

        &__info {
            color: $midnight;
            font-weight: 600;
            margin-bottom: 14px;
            & br {
                display: inline-block;
            }
        }

        &__form-info {
            font-size: 11px;
            line-height: 17px;
            opacity: .6;
        }
    }
}