html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    color: $main;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
  
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button--main {
    display: block;
    background-color: $red-purple;
    color: $white;
    padding: 15px 60px;
    border-radius: 24px;
    border: 1px solid transparent;
    transition: all .2s ease-in;

    &:hover {
        color: $red-purple;
        background-color: transparent;
        border-color: $red-purple;
    }

    &:focus {
        outline: none;
    }

    &:active {
        background-color: #e6d0de;
    }
}

.section-title__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: $midnight;
}

.section-title__count {
    margin: 0;
    font-size: 44px;
    line-height: 100%;
    font-weight: 800;

    color: $sand;
}
