.services {
    padding-top: 130px;
    padding-bottom: 200px;

    &__wrapper-mobile {
        display: none;
    }

    &__control {
        display: none;
    }

    &__wrapper {
        padding-left: 110px;
        position: relative;
    }
    
    &__count {
        position: absolute;
        left: 0;
        bottom: -50px;
    }

    &__tabs-wrapper {
        display: flex;
        margin-top: 50px;
    }

    &__tabs-btn {
        padding-right: 30px;

        & a {
            text-decoration: none;
        }
    }

    &__tabs-btn-item + &__tabs-btn-item {
        margin-top: 10px;
    }

    &__tabs-btn-item {
        padding: 10px 0;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: $main;
        cursor: pointer;
        position: relative;
        display: flex;

        &:hover {
            color: $midnight;
        }

        &::after {
            content: "";
            position: absolute;

            width: 100%;
            height: 2px;

            left: 0;
            bottom: 0;
            background-color: $red-purple;
            transition: all .3s ease;
            opacity: 0;
        }

        &:hover::after {
            width: 100%;
            opacity: 1;
            transform: translatey(-5px);
        }
    }

    .services__tabs-btn-item.active {
        color: $midnight;
    }

    &__items-wrapper {
        width: 730px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background: url(../img/services-image-1.png) no-repeat center center;
            width: 440px;
            height: 411px;
            top: -75px;
            right: -110px;
        }
    }

    &__item {
        background-color: $ivory;
        border-radius: 30px;
        height: 420px;
        padding: 60px 0 60px 53px;
    }

    &__item-title {
        color: $midnight;
        margin: 0;
        margin-bottom: 15px;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    &__item-content {
        line-height: 24px;
        max-width: 323px;
    }

    &__cost {
        margin: 0;
        margin-bottom: 20px;
    }

    &__btn {
        display: block;
        position: relative;
    }

    &__item-border {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #F5E283;
        border-radius: 30px;
        left: -15px;
        top: -15px;
    }
}

.services__tab-item-wrap {
    display: none;
}

.srv-faded {
    opacity: 0;
    transition: all .1s;
}

.srv-faded.srv-in {
    opacity: 1;
    transition: all .1s;
}

.srv-active {
    display: block;
}

@media (max-width: 1110px) {
    .services {

        &__tabs-wrapper {
            display: none;
        }

        &__wrapper-mobile {
            display: flex;
            min-width: 0;
        }

        &__title {
            margin-bottom: 45px;
        }

        &__tabs-wrapper-mobile {
            display: block;
        }

        &__wrapper-mobile-item {
            max-width: 226px;
            height: 340px;
            background-color: $ivory;
            text-align: center;
            padding: 30px 10px 0 20px;
            margin-top: 28px;
            position: relative;
            border-radius: 20px;
            // margin-right: 50px;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid #F5E283;
                border-radius: 20px;
                left: 10px;
                top: -10px;
            }
        }

        &__wrapper-mobile-title {
            font-size: 14px;
            color: $midnight;
            margin: 0;
        }

        &__wrapper-mobile-content {
            font-size: 12px;
        }

        &__wrapper-mobile-item-lotus {
            position: absolute;
            top: -30px;
            left: 50%;
            margin-left: -15px;
        }
    }

    .services__slider.slick-slider {
        overflow: hidden;
        padding-bottom: 100px;
    }
    .services__slider .slick-arrow {
        position: absolute;
        font-size: 0;
        bottom: 0;
        right: 0;
        width: 36px;
        height: 36px;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .services__slider .slick-next {
        background: url("../img/control-right.svg") no-repeat center center;
    }

    .services__slider .slick-prev {
        right: 50px;
        background: url("../img/control-left.svg") no-repeat center center;
    }

    .services__slider .slick-list {
        min-width: 0;
    }

    .services__slider .slick-track {
        min-width: 0;
        display: flex;
    }

    .services__wrapper-mobile-item {
        margin-right: 50px;
    }
}
@media (max-width: 900px) {
    .services {
        padding-bottom: 110px;
        padding-top: 30px;
        &__wrapper {
            padding-left: 0;
        }

        &__count {
            top: 0;
            right: 0;
            left: auto;
        }
    }
}