.social {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    &__item + li {
        margin-left: 22px;
    }

    &__item {
        transition: all .2s ease-in;
        
        &:hover {
            transform: translateY(-3px);
        }
    }
}